body{margin: 0%;
padding: 0%;
}

main {background-color: black;
text-align: center;}

header {margin-bottom: 8%;
    display: grid;
    grid-template-columns:
    40% 50%;
    grid-template-areas: "alto texto" "baixo texto";
    color: black;
}

.alto{padding-left: 25%;
    grid-area: alto;margin-top: 10%;
margin-left: 10%;
align-self: center;
}
ion-icon { 
    font-size: 50px;
    color: black;
  }
.baixo{grid-area: baixo;
    margin-left: 10%;
text-decoration: none;}

.texto{margin-top: 10%;
    grid-area: texto;
    text-align: justify;
font-size:25px ;
font-style: oblique;}

.location-outline {color: rgb(255, 255, 255);}
footer{color: rgb(255, 255, 255);
    display: flex;
    background-color: black;
padding: 20px;}