body{margin: 0%;
padding: 0%;
display: grid;
grid-template-areas: "main" "header" "footer";

}
main{grid-area: main;
grid-row: 20%;}



header{
  background-color: rgb(250, 250, 250);
    grid-area: header;
    grid-row: 70%;}

.texto{ margin-top: 5px;
   text-align: justify;
font-size:15px ;
font-style: oblique;}

ion-icon {
    font-size: 55px;
    color: rgb(255, 255, 255);
  }


footer{grid-row: 5%;
    grid-area: footer;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas: "a b c";
   }
   .a{grid-area: a;}   .b{grid-area: b;}   .c{grid-area: c;}
  
  